* {
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive, sans-serif

}

body {
  margin: 0;
  background-image: url(../assets/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  color: rgb(226, 223, 223);
  text-shadow:  -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #000000;
}
.header{
  display:flex;
  justify-content: space-around;
  
}
.main-text{
  text-shadow:  -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
.header img{
  
  width: 200px;
}

#hud{
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

#btnContainer{
  display: flex;
  justify-content: space-around;
  margin: 0px 300px;
  padding-top: 10px;
  
  
}
#grid-wrapper {
  min-height: 73vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#grid {
  
  width: 700px;
  background-image: url(../assets/gridBg.png);
  border: 3px solid brown;
}

#grid section {
  
  display: inline-block;
  aspect-ratio: 1;
  
}

#gameOverDisp{

  position: absolute;
  border: 2px solid black;
  padding: 100px;
  font-size: 50px;
  border-radius: 99%;
  background-color: rgba(165, 42, 42, .7);
  text-align: center;
  
}
#startScreen{
  
  position: absolute;
  border: 2px solid black;
  padding: 100px;
  font-size: 30px;
  height: 1000px;
  width: 100%;
  background-image: url('../assets/ninjacover.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  color: black;
  
}
#startScreen img{
  height: 150px
}

#grid section.ninja{
  background-image: url('../assets/ninjaa.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid section.collision1{
  background-image: url('../assets/kunaiblack2.gif');
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;
}
#grid section.collision2{
  background-image: url('../assets/kunai.gif');
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;
}
#grid section.collision3{
  background-image: url('../assets/kunai white flip.gif');
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;
}
#grid section.collision4{
  background-image: url('../assets/shurikan.gif');
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;
}

#grid section.goalItem{
  background-image: url('../assets/Coin.gif');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.hidden{
  display: none;
}

.wall{
  background-image: url('../assets/rock.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}

#hud div img{
  width: 30px;
}
button{
  cursor: pointer;
}

#mobile{
  display: none;
}

@media only screen and (max-width: 824px) {
  body{
    font-size: 15px;
  }
  #large-screen{
  display: none;
  }
  #mobile{
    display: block;
  }
  #hud div img {
    width: 15px;
  }
  
}
@media only screen and (max-width: 385px) {
  body{
    font-size: 10px;
    
  }
  
}